/* Structure */
.beer-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
}

.beer-list-table{
  width: 900px;
}

mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.table-header {
  text-align: right;
  padding: 8px 24px 0;
  padding-top: 20px;
}
.no-rating{
  margin-top: 18px;
}