<div class="beer-list-table">
  <div class="beer-container mat-elevation-z3">
      <div class="table-header">
          <mat-checkbox color="primary" [(ngModel)]="onlyShowRatedBeers" (ngModelChange)="handleChange($event)">
            Only show rated beers
          </mat-checkbox>
        </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="thumbImageUrl">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let beer">
          <img [src]='beer.thumbImageUrl' [title]='beer.name' />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="center"> Name </mat-header-cell>
        <mat-cell *matCellDef="let beer"><a [routerLink]="['/beers', beer.id]">{{beer.name}}</a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="brewery">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="center"> Brewery </mat-header-cell>
        <mat-cell *matCellDef="let beer"> {{beer.brewery.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="center"> Rating </mat-header-cell>
        <mat-cell *matCellDef="let beer">
          <div class="no-rating" *ngIf='!beer.rating'>No rating</div>
          <br-star [rating]="beer.rating"></br-star>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>